:root {
    --bg-color: #0A1117;
    --inverted-bg-color: linear-gradient(187.84deg, #121E28 0%, #0A1117 100%);
    --sidebar-outline-color: #2A3744;

    // текст
    --primary-color: #FFF;
    --inverted-primary-color: #0A1117;

    // вторичный цвет
    --secondary-color:  #4e4e4e;
    --inverted-secondary-color: #04ff04;

    // линки
    --link-color: var(--secondary-color);
}
