.divider {
    width: 100%;
    margin: 10px 0;
    padding: 0;
}

.titleWrapper {
    width: 100%;
    display: block;
}

.link, .title {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    font-size: 18px !important;
    line-height: 100%;
}

.link {
    font-size: 14px !important;
    line-height: 100%;
}
